@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --clr-primary: #f5f5f5;
  --clr-secondary: #333333;

  --clr-add: #ff6f00;
  --clr-danger: #d32f2f;
  --clr-success: #388e3c;

  --font-base: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: var(--font-base);

  background-color: var(--clr-primary);
  color: var(--clr-secondary);
}
